p{
    font-family: 'Times New Roman';
    text-align: justify;
    margin:25px;
    font-size: 30px;
}
img{
    height: 400px;
    width: 600px;
    margin: 85px;
 
}
h2{
    margin: 15px;
    font-size: 40px;
    font-family:'Times New Roman';
}

html{
    background-color: lightslategray;
    border: solid black 5px;
}

#contenedor2 
{
    background-color: #3498DB;
    margin: 5px;
}
#contenedor3
{
    background-color:#E74C3C ; 
    margin: 5px;
}
#contenedor4
{
    background-color:#F4D03F;
    margin: 5px;
}
#contenedor5
{
    background-color: #9B59B6;
    
    margin: 5px;
}
#contenedor6
{
    background-color:#28B463;
    margin: 5px;
}
#contenedor7
{
    background-color:#E67E22 ;
    margin: 5px;
}
#contenedor8
{
    background-color: #3498DB;
    margin: 5px;
}
#cabecera
{
    background-color:#F7DC6F;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman';
    height: 140px;
    width: 99.3%;
    margin: 5px;
    text-shadow: white 3px 3px 3px;

}
a{
    margin: 10px;
}
#pie{
    clear: both;
    background-color:#F7DC6F;
    margin: 5px;;
}